
.enterprise .enterprise-title{
  height: 2.5rem;
  line-height: 2.5rem;
  color: #5FCAED;
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 0.25rem;
  border: 0.05rem solid #E1E1E1;
  border-right: none;
  margin: 0.5rem 0;
  border-left: 0.25rem solid #5FCAED;
  background: #FFFFFF;
}
#app .enterprise ul.form{
  background: #FFFFFF;
  padding: 0;
  padding-left: 1rem;
}
.enterprise .form li{
  height: 2.5rem;
  box-sizing: border-box;
  line-height: 2.5rem;
  border-bottom: 0.05rem solid #E1E1E1;
}
.enterprise .form li label{
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'PingFang SC';
  color: #999999;
}
.enterprise .weui-cell{
  padding-left: 0!important;
}
.enterprise-upload-wrap{
  padding:0 0.5rem 0.5rem;
}

.enterprise-upload-list{
  display: flex;
  height: 6.1rem;
  margin-bottom: 1rem;
}

.enterprise-upload-item{
  flex: 1;
  text-align: center;
  padding:0 0.5rem;
}

.enterprise-msg{
  background-color: #1EB9EE;
  font-size: 0.9rem;
  text-align: center;
  color: #ffffff;
  padding: 2rem 0;
}

.enterprise-footer-btn{
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  padding: 0.5rem;
}
