.goods-class{
  height: 100%;
}
.sub-nav{
  width: 5rem;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 4rem;
  background: #FFFFFF;
  position: absolute;
  left: 0;
  top: 2.2rem;
}
.sub-nav li{
  border-bottom: 0.05rem solid #E1E1E1;
}
.sub-nav a{
  display: block;
  height: 2rem;
  line-height: 2rem;
  color: #999999;
  padding-left: 0.8rem;
  font-size: 0.75rem;
  font-weight: bold;
  border-left: 0.2rem solid transparent;
}
.sub-nav a.active{
  color: #1EB9EE;
  border-left: 0.2rem solid #1EB9EE;
}
.main-nav{
  margin-left: 5rem;
  font-size: 0.6rem;
}
.main-nav ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  text-align: center;
}
.main-nav a{
  color: #222222;
  margin: 0.25rem;
}
.main-nav img{
  display: block;
  width: 3.7rem;
  height: 3.7rem;
  background: #e1e1e1;
  margin-bottom: 0.3rem;
}
