  .banner {
    height: 9.9rem;
    background: #1EB9EE;
  }

  .main-body {
    background: #F6F6F6;
  }

  .menu-nav-box {
    border-bottom: 1pt solid #E1E1E1;
  }

  .menu-nav {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    height: 9.7rem;
    background: #FFFFFF;
  }

  .menu-nav a {
    width: 25%;
    height: 50%;
    color: #222222;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .menu-nav a img {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    border-radius: 0.9rem;
    background: linear-gradient(#83A8FE, #5884F0);
  }
  .floor{
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	height: 2.2rem;
  	padding: 0 20px;
  	font-family: 'PingFang-SC-Bold';
  	color: #222222;
  	font-size: 0.8rem;
  	margin-top: 0.5rem;
  	background: #FFFFFF;
    border-top: 0.05rem solid #E0E0E0;
    border-bottom: 0.05rem solid #E0E0E0;
  }
  .floor span{
  	font-weight: bold;
  }
  .floor a{
  	font-family: 'PingFang-SC-Medium';
  	font-size: 0.6rem;
  	color: #999999;
  }

  .goods-lists{
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0.5rem 0.25rem;
  }
  .goods-lists li{
    width: 50%;
    overflow: hidden;
  }
  .goods-lists a{
  	width: 8.6rem;
    box-sizing: border-box;
    margin: 0.25rem;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
  }
  .goods-lists .goods-title{
  	overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-family: 'PingFang-SC-Bold';
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
    color: #222222;
    border-top: 1px solid #E0E0E0;
  }
  .goods-lists .goods-price{
  	display: flex;
  	font-size: 0.55rem;
    padding-bottom: 0.3rem;
    padding: 0 0.5rem 0.3rem 0.5rem;
  }
  .goods-lists img{
  	width: 7.6rem;
    height: 7.6rem;
  	display: block;
    margin: 0.5rem auto;
  }
