.address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  min-height: 3rem;
  font-size: 0.7rem;
  margin: 0.5rem 0;
  padding: 0.75rem 0.5rem;
  border-top: 0.05rem solid #e1e1e1;
  border-bottom: 0.05rem solid #e1e1e1;
}
.address .tag{
  height: 1rem;
  line-height: 1rem;
  font-weight: normal;
  color: #1EB9EE;
  border: 1px solid #1EB9EE;
  padding: 0 0.6rem;
  border-radius: 0.2rem;
}
.address h3{
  padding-bottom: 0.5rem;
}
.address .name{
  font-size: 0.9rem;
  padding-right: 0.5rem;
}
.indent-list{
  padding-bottom: 4rem;
}
.indent-list > div{
  margin-bottom: 0.5rem;
}
.indent-list .weui-cells {
  margin-top: 0.5rem!important;
}
.indent-list .icon-bianji{
  font-size: 1.5rem!important;
}
.indent-title{
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  padding-left: 2rem;
  border-top: 0.05rem solid #E1E1E1;
  border-bottom: 0.05rem solid #E1E1E1;
  background: #FFFFFF url("../images/sho-car-title.png") no-repeat 0.5rem center;
  background-size: 1.1rem;
  color: #222222;
  font-size: 0.6rem;
  font-weight: bold;
  position: relative;
}
.indent-title > span:last-child{
  font-weight: normal;
  color: #1EB9EE;
  transform: scale(0.9);
  position: absolute;
  right: -0.5rem;
  top: 0;
  bottom: 0;
}
.indent-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: #fff;
}
.indent-content img{
  width: 4.5rem;
  height: 4.5rem;
}
.indent-content .indent-info{
  flex: 1;
  font-size: 0.6rem;
  line-height: 1.5;
  padding-left: 0.5rem;
}
.indent-content .indent-info h3{
  font-size: 0.8rem;
}
.editor-container{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #F5F5F5;
}
.editor{
}
.editor li{
  display: flex;
  padding: 0.5rem;
  background: #FFFFFF;
  margin-bottom: 0.5rem;
}
.editor li:last-child{
  background: none;
}
.editor li label{
  font-size: 0.7rem;
  font-weight: bold;
}
.editor li input{
  flex: 1;
}
