.address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  min-height: 3rem;
  font-size: 0.7rem;
  margin: 0.5rem 0;
  padding: 0.75rem 0.5rem;
  border-top: 0.05rem solid #e1e1e1;
  border-bottom: 0.05rem solid #e1e1e1;
}
.address .tag{
  height: 1rem;
  line-height: 1rem;
  font-weight: normal;
  color: #1EB9EE;
  border: 1px solid #1EB9EE;
  padding: 0 0.6rem;
  border-radius: 0.2rem;
}
.address h3{
  padding-bottom: 0.5rem;
}
.address .name{
  font-size: 0.9rem;
  padding-right: 0.5rem;
}
.indent-list{
  padding-bottom: 4rem;
}
.indent-list > div{
  margin-bottom: 0.5rem;
}
.indent-list .weui-cells {
  margin-top: 0.5rem!important;
}
.indent-list .icon-bianji{
  font-size: 1.5rem!important;
}
.indent-title{
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  border-top: 0.05rem solid #E1E1E1;
  border-bottom: 0.05rem solid #E1E1E1;
  background: #FFFFFF;
  background-size: 1.1rem;
  color: #222222;
  padding-right: 7rem;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: 0.6rem;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
}
.indent-title i.text-blue{
  font-size: 0.6rem!important;
  padding: 0.2rem;
  background: #E5F9FF;
  border-radius: 50%;
}
.indent-title > span:last-child{
  font-weight: normal;
  color: #1EB9EE;
  transform: scale(0.8);
  position: absolute;
  right: -0.5rem;
  top: 0;
  bottom: 0;
}
.indent-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: #fff;
}
.indent-content img{
  width: 4.5rem;
  height: 4.5rem;
}
.indent-content .indent-info{
  flex: 1;
  font-size: 0.6rem;
  line-height: 1.5;
  padding-left: 0.5rem;
}
.indent-content .indent-info h3{
  font-size: 0.8rem;
}
.indent-content .indent-info h3 a{
  color: #222222;
}
.editor-container{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #F5F5F5;
}
.editor-container .editor{
  margin-top: 0.5rem;
}
.editor li{
  display: flex;
  padding: 0.5rem;
  background: #FFFFFF;
  margin-bottom: 0.5rem;
}
.editor li:last-child{
  background: none;
}
.editor li label{
  font-size: 0.7rem;
  font-weight: bold;
}
.editor li input{
  flex: 1;
}
.success-info{
  background: #1EB9EE;
  text-align: center;
  line-height: 1.5;
  font-family: 'PingFang SC';
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 0.5rem;
}
.success-info i{
  font-size: 1.5rem!important;
  color: #FFFFFF;
}
.indent-detail{
  margin: 0.8rem 0.5rem;
  border-radius: 0.25rem;
  background: #FFFFFF;
  padding: 0.5rem 0;
  border: 0.05rem solid #E1E1E1;
  margin-bottom: 4rem;
}
.indent-detail ul li{
}
.indent-detail-order{
  line-height: 2;
  padding: 0 0.5rem;
  color: #999999;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}
.indent-detail-order span{
  margin-right: 1rem;
}
.indent-detail-seller{
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.75rem;
  border-bottom: 0.05rem solid #E1E1E1;
  background-size: 1.5rem;
}
.indent-detail .indent-content{
  border-bottom: 0.05rem solid #E1E1E1;
}
.indent-remark{
  display: flex;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #999999;
  border-bottom: 0.05rem solid #E1E1E1;
}
ul li:last-child .indent-remark{
  border: none;
}
.indent-remark span{
  width: 3.5rem;
}
.indent-remark > div{
  flex: 1;
}
