.login-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  padding: 1rem;
  height: 1rem;
  padding-bottom: 4rem;
  color: #999999;
  background: url("../images/login-icon.png") no-repeat center 3.25rem;
}
.login-top a{
  color: #999999;
}
.user-agreement {
  font-size: 0.6rem;
  color: #999999;
  text-align: center;
  padding: 1rem;
}

.user-agreement a {
  color: #5FCAED;
}
.aggreement-content{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: scroll;
  padding: 0.5rem;
  font-size: 0.7rem;
  color: #222222;
  background: #FFFFFF;
}
.aggreement-content h3{
  text-align: center;
  line-height: 3;
}
.aggreement-content p{
  text-indent: 2em;
  padding-bottom: 0.5rem;
}
.text-gray {
  font-size: 0.7rem;
  text-align: center;
}

.code-input-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.code-input-box input {
  width: 2.5rem;
  height: 2rem;
  border-radius: 0;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
}

