.order-wrap {
  padding: .45rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}

.order-card {
  /*padding-bottom: 0.2rem;*/
  border-radius: 0.4rem;
  overflow: hidden;
  border: 0.05rem solid #E1E1E1;
  margin-bottom: 0.5rem;
}

.order-card .weui-cells {
  margin-top: 0.5rem !important;
}

.order-card .orderNo {
  background-color: #ffffff;
  padding: 0.5rem;
  border-bottom: 1px solid #E1E1E1;
  font-size: 0.8rem;
  font-weight: 600;
}

.orderNo span{
  color: #999999;
  font-weight: 500;
  float: right;
}

.order-card .icon-bianji {
  font-size: 1.5rem !important;
}

.order-title {
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  padding-left: 2rem;
  border-top: 0.05rem solid #E1E1E1;
  border-bottom: 0.05rem solid #E1E1E1;
  background: #FFFFFF url("../images/sho-car-title.png") no-repeat 0.5rem center;
  background-size: 1.1rem;
  color: #222222;
  padding-right: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.6rem;
  font-weight: bold;
  position: relative;
}

.order-title > span:last-child {
  font-weight: normal;
  color: #1EB9EE;
  transform: scale(0.8);
  position: absolute;
  right: -0.5rem;
  top: 0;
  bottom: 0;
}

.order-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: #fff;
}

.order-content img {
  width: 4.5rem;
  height: 4.5rem;
}

.order-content .order-info {
  flex: 1;
  font-size: 0.6rem;
  line-height: 1.5;
  padding-left: 0.5rem;
}

.order-content .order-info h3 {
  font-size: 0.8rem;
}

.order-content .order-info h3 a {
  color: #222222;
}

.editor-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #F5F5F5;
}

.editor {
}

.editor li {
  display: flex;
  padding: 0.5rem;
  background: #FFFFFF;
  margin-bottom: 0.5rem;
}

.editor li:last-child {
  background: none;
}

.editor li label {
  font-size: 0.7rem;
  font-weight: bold;
}

.editor li input {
  flex: 1;
}

.success-info {
  background: #1EB9EE;
  text-align: center;
  line-height: 1.5;
  font-family: 'PingFang SC';
  font-weight: bold;
  color: #FFFFFF;
  padding-bottom: 0.5rem;
}

.success-info i {
  font-size: 1.5rem !important;
  color: #FFFFFF;
}

.order-detail {
  margin: 0.8rem 0.5rem;
  border-radius: 0.25rem;
  background: #FFFFFF;
  padding: 0.5rem 0;
  border: 0.05rem solid #E1E1E1;
  margin-bottom: 4rem;
}

.order-detail ul li {
}

.order-detail-order {
  line-height: 2;
  padding: 0 0.5rem;
  color: #999999;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}

.order-detail-order span {
  margin-right: 1.8rem;
}

.order-detail-seller {
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 2.5rem;
  font-size: 0.75rem;
  border-bottom: 0.05rem solid #E1E1E1;
  background-size: 1.5rem;
}

.order-detail .order-content {
  border-bottom: 0.05rem solid #E1E1E1;
}

.order-remark {
  display: flex;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #999999;
  border-bottom: 0.05rem solid #E1E1E1;
}

ul li:last-child .order-remark {
  border: none;
}

.order-remark span {
  width: 3.5rem;
}

.order-remark > div {
  flex: 1;
}

.order-action {
  padding: 0.4rem 1rem 0.4rem 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  border-top: 0.05rem solid #E1E1E1;
}

.order-button {
  font-size: 0.6rem;
  padding: 0.14rem 0.26rem;
  color: #5FCAED;
  border: 1px solid #5FCAED;
  border-radius: 0.8rem;
}

.order-button {
  margin-left: 0.3rem;
}

.order-item + .order-item {
  border-top: 0.05rem solid #E1E1E1;
}

.addr {
  font-size: 0.8rem;
  padding: 0.6rem 0.45rem;
  background: #fff;
}

.addr .detail {
  font-size: 0.6rem;
  color: #999999;
  margin-top: 0.6rem;
}

.info {
  font-size: 0.8rem;
  background: #fff;
  color: #999999;
  padding-bottom: 0.6rem;
}

.item{
  padding: 0 0.45rem;
  margin-top: 0.6rem;
}

.item .label{
  width: 3.2rem;
  margin-right: 0.8rem;
}

.info .line {
  border-bottom: 1px solid #ccc;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  width: 100%;
}
