.search-lists-header{
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  position: fixed;
  top: 2.7rem;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999999;
  z-index: 9;
  font-size: 0.75rem;
}
.jiagepaixu1{
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  margin-left: 0.2rem;
}
.jiagepaixu1::before, .jiagepaixu1::after{
  color: #999999;
  display: block;
  content: '';
  width: 0;
  height: 0;
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  left: 0;
}
.jiagepaixu1::before{
  border-bottom-color: #999999;
  top: -0.4rem;
}
.jiagepaixu1::after{
  border-top-color: #999999;
  top: 0.5rem;
}
.sort::before{
  border-bottom-color: #1EB9EE;
}
.down::after{
  border-top-color: #1EB9EE;
}
.search-lists{
  border-bottom: 1px solid #E1E1E1;
  padding-top: 0.6rem;
}
.search-lists li{
  border-top: 1px solid #E1E1E1;
  padding: 0.5rem;
}
.search-lists li a{
  display: flex;
}
.search-lists li a img{
  width: 3rem;
  height: 3rem;
  background: #E0E0E0;
  margin-right: 0.5rem;
}
.search-lists li a div{
  flex: 1;
  font-size: 0.6rem;
}
.search-lists li a h3{
  width: 13rem;
  font-size: 0.65rem;
  color: #222222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem 0 0.8rem 0;
}
.search-lists li a div > div{

}
