.select-confirm{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  font-size: 0.9rem;
  font-family: 'PingFang-SC-Bold';
}
.select-confirm .select-confirm-content{
  width: 15.25rem;
  height: 9rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
  border-radius: 0.25rem;
  color: #999999;
}
.select-confirm .select-confirm-title, .select-confirm .select-confirm-checkbox{
  padding: 0.5rem 1rem;
}
.select-confirm .select-confirm-checkbox > div{
  padding: 0.3rem 0;
}
.select-confirm .select-confirm-button{
  display: flex;
  align-items: center;
}
.select-confirm .select-confirm-button button{
  flex: 1;
  height: 2.2rem;
  background: #E1E1E1;
  color: #FFFFFF;
  font-size: 0.9rem;
}
.select-confirm .select-confirm-button button:first-child{
  background: #5FCAED;
  border-radius: 0 0 0 0.25rem;
}
.select-confirm .select-confirm-button button:last-child{
  border-radius: 0 0 0.25rem 0;
}
.login-out{
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
}
.settings-form{
  padding: 0.5rem;
  padding-top: 1.5rem;
}
.settings-form ul{
  padding-bottom: 1.5rem;
}
.settings-form li{
  padding-bottom: 0.5rem;
  position: relative;
}
.settings-form li > div{
  display: flex;
  align-items: center;
}
.settings-form li input{
  flex: 1;
  line-height: 2.4rem;
  background: #FFFFFF;
  border: 0.05rem solid #5FCAED;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.settings-form li input.has-button{
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: none;
}
.settings-form li button{
  width: 7.5rem;
  text-align: center;
  line-height: 2.5rem;
  background: #5FCAED;
  font-size: 0.9rem;
  color: #FFFFFF;
  border-radius: 0 0.25rem 0.25rem 0;
}
.settings-form li button.disabled{
  background: #E0E0E0;
}
.settings-form li img{
  width: 7.5rem;
  height: 2.5rem;
  background: #E0E0E0;
  border: 0.05rem solid #5FCAED;
  border-radius: 0 0.25rem 0.25rem 0;
  box-sizing: border-box;
}
.settings-form li i{
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5rem;
  margin: auto;
}
.settings-form .btn{
  line-height: 2.5rem;
}
.other-settings {
  color: #222222;
}
.other-settings label{
  font-family: 'PingFang-SC-Bold';
}
.other-settings .weui-cells img{
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  position: absolute;
  margin: 0.5rem;
  top: 0;
  right: 0;
}
.other-settings .upload-item-content{
  border: none!important;
  border-radius: 0!important;
  height: 3.5rem!important;
  padding: 0.75rem;
  display: flex;
  align-items: center;
}
.other-settings .upload-item-content span{
  font-family: 'PingFang-SC-Bold';
  font-size: 0.85rem!important;
}
.other-settings .upload-plus{
  position: absolute;
  right: 1rem;
  color: #999999;
}
