.shop-car-container{
  padding-bottom: 6rem;
}
.shop-car-content{
  display: flex;
  align-items: center;
  color: #222222;
  border-bottom: 0.05rem solid #E1E1E1;
  padding: 0.5rem;
  font-size: 0.6rem;
}
.shop-car-content > div:first-child input{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 2rem;
  height: 100%;
  opacity: 0;
}
.shop-car-content > div:last-child{
  flex: 1;
  display: flex;
}
.shop-car-content h3{
  font-size: 0.75rem;
}
.shop-car-content h3 a{
  color: #222222;
}
.shop-car-content > div:last-child img{
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
}
.shop-car-content > div:last-child > div{
  flex: 1;
  line-height: 1.8;
}
.shop-car-content > div:last-child > div .vux-inline-x-number{
  float: right;
}
#app .shop-car-content .vux-number-selector svg{
  fill: #5FCAED;
}
.shller-title{
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background: #FFFFFF;
  border-top: 0.05rem solid #E1E1E1;
  border-bottom: 0.05rem solid #E1E1E1;
  position: relative;
  font-size: 0.6rem;
}
.shller-title > div:first-child{
  /*width: 3rem;
  background: #FFFFFF url("../images/sho-car-title.png") no-repeat 1.6rem center;
  background-size: 1.1rem;*/
}
.shller-title i.text-blue{
  font-size: 0.6rem!important;
  padding: 0.2rem;
  background: #E5F9FF;
  border-radius: 50%;
}
.shller-title input{
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.shller-title span{
  font-size: 0.6rem;
  font-weight: bold;
}
.shop-car-total{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  line-height: 2.5rem;
  background: #FFFFFF;
}
.shop-car-total > div:first-child{
  padding-left: 0.5rem;
  flex: 1;
  color: #999999;
}
.shop-car-total > div:first-child input{
  height: 100%;
  position: absolute;
  left: 0;
  width: 2rem;
  opacity: 0;
}
.shop-car-total .delete-goods{
  padding: 0 1.4rem;
  color: #FFFFFF;
  background: #999999;
}
.shop-car-total > div:last-child{
  padding: 0 1.4rem;
  color: #FFFFFF;
  background: #E22425;
}
