@import url('//at.alicdn.com/t/font_670323_t1mmdun12n.css');
*{
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
	list-style: none;
}
html,body{ height: 100%; }
a{
	display: inline-block;
}
a:active, a:visited{
	outline: none;
}
body{
  background: #F5F5F5;
}
.iconfont{
	font-size: 0.8rem!important;
}

#app input {
  font-size: 0.7rem;
}
.border-input{
  width: 100%;
  height: 2.4rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  border: 1px solid #5FCAED;
  margin-bottom: 1.5rem;
}
#app .form {
  padding: 0 1rem;
  background: #FFFFFF;
}
.form ul li .is-danger + .cells{
  border-color: red;
}
/*下拉选择*/
.select-box{
  width: 3.2rem;
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  color: #FFFFFF;
  background: #5FCAED;
  padding: 0 0.25rem;
  padding-right: 0.5rem;
  font-size: 0.7rem;
  border-radius: 0.25rem 0 0 0.25rem;
}
.select-box span{
  padding-right: 0.25rem;
}
.select-box:after{
  border: 0.25rem solid transparent;
  border-left: 0.25rem solid #FFFFFF;
  width: 0;
  height: 0;
  position: absolute;
  content: ' ';
  top: 32%;
  right: 0;
}
.select-active-box:after{
  border: 0.25rem solid transparent;
  border-left: 0.25rem solid #FFFFFF;
  width: 0;
  height: 0;
  position: absolute;
  content: ' ';
  top: 42%;
  right: 0.1rem;
  transform: rotate(90deg);
}
.select-box ul{
  width: 3rem;
  text-align: center;
  background: #5FCAED;
  padding-right: 0.5rem;
  position: absolute;
  top: 1.2rem;
  left: 0;
}
.select-box ul li{
  padding: 0.2rem 0;
  border-top: 1px solid #E0E0E0;
}
.input-box{
  line-height: 1.3rem;
  display: flex;
  flex: 1;
  color: #FFFFFF;
  font-size: 0.7rem;
}
.input-box form{
  display: flex;
  flex: 1;
}
.input-box input{
  border-radius: 0 0.25rem 0.25rem 0;
  height: 1.3rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  flex: 1;
}
.input-box .clear{
  position: absolute;
  color: #E1E1E1;
  right: 3rem;
  font-size: 0.8rem;
}
/*下拉选择*/
/*搜索*/
.search-nav{
  display: flex;
  padding: 0.5rem;
  align-items: center;
  background: #1EB9EE;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
}
.search {
  display: flex;
  height: 2.2rem;
  color: #FFFFFF;
  background: #1EB9EE;
  padding: 0.5rem 1rem;
  align-items: center;
  font-size: 0.7rem;
  box-sizing: border-box;
}
.search input {
  margin-right: 1rem;
  flex: 1;
  height: 100%;
  background: rgba(246, 246, 246, 0.3) url(../../images/search.png) no-repeat 0.5rem center;
  border-radius: 0.65rem;
  padding-left: 1.8rem;
}
.search .iconfont{
  position: relative;
  color: #FFFFFF;
}
.search .vux-badge{
  position: absolute;
  top: -0.4rem;
  left: 0.5rem;
  transform: scale(0.9);
}
.search-history-box{
  width: 100%;
  position: fixed;
  top: 2.3rem;
  background: #F5F5F5;
  z-index: 998;
}
.search-history{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.65rem;
  padding: 0.25rem;
  color: #FFFFFF;
}
.search-history li{
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  margin: 0.25rem;
}
.search-history li a{
  display: block;
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: #FFFFFF;
  background: #E1E1E1;
}
.search-history li a:active{
  background: #5FCAED;
}
.search-history-header{
  padding: 1rem 0.5rem 0.5rem;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  color: #999999;
}
.search-history-header span{
  font-size: 0.8rem;
  color: #222222;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  color: #E1E1E1;
}

input::-moz-placeholder {
  color: #E1E1E1;
}

input:-moz-placeholder {
  color: #E1E1E1;
}

input:-ms-input-placeholder {
  color: #E1E1E1;
}

.search input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.search input::-moz-placeholder {
  color: #FFFFFF;
}

.search input:-moz-placeholder {
  color: #FFFFFF;
}

.search input:-ms-input-placeholder {
  color: #FFFFFF;
}
/*搜索*/

.header-nav{
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #1EB9EE;
  font-size: 0.9rem;
}
.header-nav a , .header-nav i{
  padding: 0.5rem;
  height: 1.2rem;
  line-height: 1.2rem;
  color: #FFFFFF;
}


.footer-nav{
  width: 100%;
  height: 2.5rem;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 999;
  border-top: 1px solid #e1e1e1;
}
.footer-nav a{
  font-size: 0.6rem;
  color: #999999;
  display: block;
  flex-grow: 1;
  padding: 0.3rem 0;
  text-align: center;
  position: relative;

}
.footer-nav i{
  height: 1rem;
  margin: 0.2rem;
  background-size: 1rem;
  position: relative;
}
.footer-nav a.active{
	color: #1EB9EE;
}
.footer-nav .router-link-exact-active{
	color: #1EB9EE;
}
.footer-nav .vux-badge{
  background: #FFFFFF;
  color: #E22425;
  border: 1px solid #E22425;
  box-sizing: border-box;
  position: absolute;
  top: -0.25rem;
  left: 0.7rem;
  margin: auto;
  transform:scale(0.8);
}
/*辅助类*/
.text-red{
	color: #E22425!important;
}
.text-muted{
	color: #999999!important;
}

.text-gray {
  color: #E1E1E1;
}
.text-truncate{
  word-wrap: normal; /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-blue{
  color: #1EB9EE!important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.btn {
  width: 100%;
  border-radius: 0.2rem;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.33333333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.btn-primary {
  background: #5FCAED;
}

.btn-link {
  background: transparent;
  color: #5FCAED;
}
/*辅助类*/
/*修改插件样式*/
.vux-slider > .vux-indicator > a > .vux-icon-dot, .vux-slider .vux-indicator-right > a > .vux-icon-dot{
	width: 0.4rem!important;
	height: 0.4rem!important;;
	border-radius: 50%!important;;
	border: 0.05rem solid #FFFFFF!important;;
	background-color: transparent!important;;
}
.vux-slider > .vux-indicator > a > .vux-icon-dot.active, .vux-slider .vux-indicator-right > a > .vux-icon-dot.active{
	background-color: #FFFFFF!important;;
}
.vux-badge-single{
  width: auto!important;
  height: auto!important;
}
.vux-badge{
  padding: 0 0.2rem!important;
}
.weui-cell{
  padding: 0.75rem!important;
}
.weui-cells{
  margin-top: -1px!important;
}

.weui-btn:after {
  border: none !important;
}

.weui-btn_primary {
  background-color: #5FCAED !important;;
}

.weui-btn_primary:not(.weui-btn_disabled):visited {
  color: #FFFFFF;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #5FCAED !important;
}
#app .vux-x-input-right-full img{
  height: 1.5rem;
}
#app .weui-search-bar:before{
   border: none;
}
#app .weui-search-bar:after{
  border: none;
}
#app .weui-search-bar{
  background: transparent;
}
#app .weui-search-bar__form{
  background: transparent;
}
#app .mescroll{ -webkit-box-sizing: border-box; box-sizing: border-box; }
#app .vux-number-selector svg{
  fill: #222222;
}
#app .vux-number-selector.vux-number-disabled svg{
  fill: #999999;
}
/*修改插件样式*/

/*表单*/
.form ul li {
  display: flex;
  overflow: hidden;
  position: relative;
  padding-bottom: 0.9rem;
}
.form ul li .form-title{
  font-size: 0.9rem;
  color: #999999;
}
.form ul li .cells{
  padding: 0.25rem 0.75rem;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
}
.form ul li .cells label{
  padding-right: 1rem;
  color: #222222;
  font-size: 15px;
}
.form ul li .cells input{
  height: 1.5rem;
  flex: 1;
}
.form ul li .img-code{
  width: 5.75rem;
  height: 2rem;
  margin-left: 0.5rem;
}
/*表单*/
